* {
  word-break: break-all;
}

body {
  position: relative;
  background-color: $white !important;
  font-family: "Noto Sans JP";
  color: $black;
  // font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.02em;
  &.issetMenuSp {
    overflow-x: hidden;
    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &.modal-active {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  transition: 0.1s;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

pre {
  white-space: pre-line;
}

img {
  vertical-align: middle;
}

:root {
  --scr: 100vw;
  --cel: calc(var(--scr, 100vw) / 40);
  --cells: 40;
  --cellSize: calc(100vw / var(--cells));
}

.square,
.rectangle {
  width: 100%;
  object-fit: cover;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900");
